@import './colors.css';
@import './fonts.css';

@layer theme, base, antd, components, utilities;

@import 'tailwindcss';

html {
  overscroll-behavior: none;
}

*:not(input, textarea) {
  -webkit-touch-callout: none;
  word-wrap: break-word;
  box-sizing: border-box;
}

button,
select,
a,
.ant-tag {
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}
